@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

img {
  width: 300px;
}

/* Hero Container */

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.hero-text-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero li,
.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  width: 24px;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.right-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.right-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  color: #e5e7eb;
}

.hero-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  padding: 16px;
  gap: 24px;
}

/* Button */

button {
  background-color: #3882f6;
  border-radius: 0.5rem;
  padding-block: 6px;
  padding-inline: 20px;
  color: white;
}

/* Hero Secondary */

.heroSecondary h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.heroSecondary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ContainerImg */

.imGcontainer {
  display: flex;
  /* align-items: center; */
  text-align: center;
  gap: 64px;
}

.imGcontainer figure {
  width: 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.imGcontainer img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.imGcontainer figcaption {
  margin: 16px;
}

/* Quote Section */

.quote {
  background-color: #e5e7eb;
  padding: 16px;
}

.quote article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 8px;
}

.quote span {
  font-size: 24px;
  font-weight: bold;
  align-self: end;
}

/* CTA container */

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px;
}

.CTA {
  background-color: #3882f6;
  border-radius: 0.5rem;
  padding-inline: 92px;
  padding-block: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.CTA button {
  border: 1.5px solid white;
}

/* Footer */

footer {
  background-color: #1f2937;
  padding: 16px;
  text-align: center;
}
